.drawing-board {
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
    flex-direction: column;

    width: 700px;

    margin: auto;
}

.board-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 0px;
}

.pixel {
    background-color: white;
    border-color: grey;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
}